/* assets/css/admin.css */

.sms-template-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    background: #fcfcfc;
}

.sms-template-item h3 {
    margin-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.sms-template-item .form-table {
    margin-top: 10px;
}